// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  max-width: 1080px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

#welcome-index {
  .content-wrapper{
    display: flex;
    justify-content: space-between;
    .content-block {
      border: 2px solid #000;
      padding: 20px;
      width: 60%;
      .content {
        border: 2px solid #000;
        padding: 15px;
        margin-bottom: 10px;
        .user-about {
          display: flex;
          .image {
            width: 10%;
          }
          .profile {
            margin-left: 10px;

            .name-history {
              width: 100%;
              display: flex;
              margin-bottom: 15px;
              position: relative;
              .name {
                font-weight: bold;
              }
  
              .learning-history {
                margin-left: 20px;
              }
            }
            .name-history:hover .nnn {
              display: inline;
            }
            .name-history:hover .up {
              display: inline;
            }
            .nnn {
              display: none;
              padding: 2px;
              color: aliceblue;
              border-radius: 5px;
              background-color:red;
              margin-left: 5px;
              font-size: 13px;
            }
            .up {
              margin-left: 5px;
              display: none;
              padding: 2px;
              color: aliceblue;
              border-radius: 5px;
              background-color:blue;
              font-size: 13px;
            }
            .purpose {
              width: 100%;
              font-size: 13px;
            }
          } 
        }
      }
    }
  }
  .sidebar {
    border: 2px solid #000;
    width: 20%;
    padding: 20px;

    .box{
      background-color: #000;
      width: 100px;
      height: 100px;
      margin: 10px auto;
    }
    
  }
}